<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="/css/all.min.css">
   <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
   <div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidenav bg-danger text-light">
           <h3 class="text-center text-dark">Brand</h3>
           <ul>
           <li class="mt-3 dash text-center text-danger"><a href="/admin-dashboard" class="dash"> Dashboard</a></li>
           <li class="mt-3"><a href="/add-product"><i class="fas fa-shopping-cart mx-2"></i>Add Products</a></li>
           <li class="mt-3"><a href="/productPage"><i class="fas fa-cookie mx-2"></i> Products</a></li>
           <li class="mt-3"><a href=""><i class="fas fa-user mx-2"></i> Customers</a></li>
           <li class="mt-3"><a href=""><i class="fas fa-rocket mx-2"></i> Orders</a></li>
           <li class="mt-3"><a href=""><i class="fas fa-hand-holding-usd mx-2"></i>income</a></li>
           <li class="mt-3"><a href=""><i class="fas fa-question-circle mx-2"></i>Help</a></li>
           <li class="mt-3"><a href=""><i class="fas fa-cogs mx-2"></i>Settings</a></li>
        </ul>
        </div>
        <div class="col-sm-9 offset-1">
            <table class="table table-striped">
                <thead class="">
                 <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th colspan="2">Action</th>
                 </tr>
                </thead>
                <tbody>
                    <% 
                    if(prodInfo.length > 0){
                        for(let products of prodInfo){%>
                        
                            <tr>
                                <td class="imgdata"><img src="<%=products.image %>" alt="products.name" style="width:50px;height:50px"></td>
                                <td><%= products.name %></td>
                                <td><%= products.description %></td>
                                <td>#<%= products.price %></td>
                                <td><a href="/updateProd/<%= products.id%>">Update</a></td>
                                <td>
                                    <form action="/delete" method="post">
                                    <input type="hidden" name="id" value="<%= products.id %>">
                                    <button type="submit">Delete</button>
                                   </form>
                                    </td>
                            </tr>
                    <%
                        }
                    }else{ %>
                        <h2>No product added</h2>
                  <%  }%>
                   
                </tbody>

            </table>
        </div>
    </div>
   </div> 


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

</body>
</html>